{
    "InventoryPollIntervalSeconds": {MENDER_INVENTORY_POLL_INTERVAL},
    "RetryPollIntervalSeconds": {MENDER_RETRY_POLL_INTERVAL},
    "RootfsPartA": "/dev/mmcblk0p2",
    "RootfsPartB": "/dev/mmcblk0p3",
    "ServerURL": "{MENDER_SERVER_URL}",
    "TenantToken": "{MENDER_TENANT_TOKEN}",
    "UpdatePollIntervalSeconds": {MENDER_UPDATE_POLL_INTERVAL}
}
